.back{
  background-color: rgb(4, 4, 4);
}

.video-background{
  display: flex;
}
body{
  background-color: white;
}

canvas {
         z-index: -1;
         top: 0; 
         left: 0;
}

  .content {
    position: relative; /* Ensures content appears above the video */
    z-index: 6; /* Puts content above the video */
    color: white; /* Makes text visible over a dark video */
    text-align: center;
    padding: 20px;
    /* Add more styling for your content */
  }

 .liquid-card{
   position: absolute;
   z-index: 10;
   margin-left: 15%;
   margin-top: 10%;
   margin-bottom: 2.5%;
  width: 70%;
  height: 300px;
  border-radius: 22px;
  overflow: hidden;
  backdrop-filter: blur(3px) saturate(130%);
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
  justify-items: center;
  justify-content: center;
  text-align: center;
  transition-property: background ,box-shadow ,transform;
  transition-duration: 0.5s;
  color: white;
  padding: 20px;
  float: left;
  }
  
  .liquid-card:hover{
    border: 5px solid black;
    width: 70.2%;
    box-shadow:#00BFFF 5px 5px;
    transform: scale(1.1);
  }

  .about-us{ 
    font-weight: bold;
  }

.about-img img {
  float: left;
  margin-left: 10%;
   margin-top: 5%;
  border-radius: 5%;
  width: 350px;
 
}

footer{
  display: flex;
  width: 100%;
}

@media only screen and (max-width:500px) {
.liquid-card{
    width: 90%;
   
}
.liquid-card:hover{
  width: 90%;
  box-shadow:#00BFFF 5px 5px;
}
.about-img img{
  width: 0%;
}

}


/*position panal*/

.position_box{
  background-color: rgb(255, 255, 255);
  width: 100%;
  float: left; 
}

.position_header{
   width: 40%;
   font-weight: bold;
   padding: 0.5%;
   background-color: aqua;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
   margin-left: 1%;
   margin-top: 3%;
  text-align: center;
}

.position_row{
  justify-content: center;
  align-items: center;
}

.position{
   margin-top: 0;
   margin-left: 3%;
   padding: 2%;
   float: left;
}


@media only screen and (max-width:500px) {

}

/*CM members*/

.CM_member img{
  border-radius: 40%;
  width: 50%;
  
}
.CM_position{
   margin-top: 0;
   margin-left: 2%;
   padding: 1%;
   float: left;
}
.AC_year{
  padding: 2%;
  height: 240px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-style: inset;
}
.year{
  font-size: 20px;
  font-weight: bold;
  
}


@media only screen and (max-width:500px) {
.AC_year{
  border-style: none;
}
}

.Activity {
  clear: both; /* This is CRITICAL to fix the floating issue */
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: white; /* Matches your image background */
  width: 100%;
  padding: 2%;
}
.active-content h4{
  font-weight: bold;
  margin-top: 2%;
}
.img-active img{
  width: 25%;

}
.img-active{
  display: flex;
   justify-content: space-around;
   align-items: center;
}
.video-active{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-active iframe{
  margin-top:2%;
}
.one-activity{
  margin-bottom: 2%;
}
